.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 300px;
  height: 600px;
  margin: 10px;
  background-color: #e8f571;
  border-radius: 20px;
}
.card > button{
    background: linear-gradient(180deg, #afffea, #5e9f48);
    border-radius: 25px;
    margin: 14px;
    height: 40px;
}
.card > button:hover{
  background: linear-gradient(1deg, #afffea, #5e9f48);
}
.favo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.favo > img {
  height: 115px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px -1px #000000;
  margin: 15px 15px 15px 15px;
}
